* {
    font-family: "Press Start 2P", sans-serif;
    color: whitesmoke;
}

body {
    background-color: navy;
}

#title {
    font-size: 2em;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    background-color: darkblue;
}

#container {
    height: 75%;
    width: 50%;
    background-color: darkblue;
    border: 1px solid darkblue;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

#dice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
    background-color: darkblue;
}

#diceImg {
    height: 150px;
    width: 150px;
}

#rollBtn {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: darkblue;
    margin-top: 5%;
    font-size: 1.3em;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}