body {
    background-color: #32373b;
    font-family: "Montserrat", sans-serif;
    color: #fce3cf;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
}

#grid {
    display: grid;
    gap: 3px;
    grid-template:  
                    "a b c" 
                    "d e f"
                    "g h i";
}

.gridBox {
    height: 200px;
    width: 200px;
    border: 2px solid #515557;
    border-radius: 10px;
    background-color: #515557;
    text-align: center;
    line-height: 200px;
    font-size: 50px;
    font-weight: 500;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.gridBox:hover {
    background-color: #938784;
}

.gridBox:active {
    border: 2px solid #c83e4d;
}

#modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    display: none;
}

#modal {
    background-color: rgba(50, 55, 59, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    border: 2px solid #938784;
    border-radius: 10px;
}

#endGame {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.3em;
}

#restart {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#restart:hover {
    color: #938784;
}

#restart:active {
    color: #c83e4d;
}

footer {
    position: absolute;
    top: calc(100% - 40px);
    left: 40px;
    -webkit-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: #c83e4d;
}