* {
    margin: 0;
    padding: 0%;
}

html,
body {
    margin: 0%;
    height: 100%;
}

body {
    background-color: #040c24;
    -webkit-user-select: none;
    user-select: none;
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

#preloadedImages {
    width: 0px;
    height: 0px;
    display: inline;
    background-image: url("./assets/mercury.png");
}

#heading {
    position: absolute;
    text-align: center;
    left: 500px;
    top: 100px;
    width: 500px;
    height: fit-content;
    color: rgba(255, 255, 255, 1);
    z-index: 11;
}

#nameHeading {
    position: absolute;
    top: 50px;
    width: 500px;
    left: -98px;
    z-index: 12;
}

#headingName {
    font-size: 35px;
}

#intro {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 110px;
    left: 250px;
    width: 600px;
    text-align: left;
    z-index: 14;
}

#introText {
    font-size: 16px;
}

#sun {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    width: 800px;
    height: 800px;
    background-image: url("./assets/Mars-PNG-File.png");
    background-origin: border-box;
    background-position: center;
    border-radius: 100%;
    z-index: 2;
}

#atmosphere {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle at center, rgb(227, 166, 131) 0%, rgba(235, 208, 130, 0) 70%, #040c24 100%);
    border-radius: 50%;
    z-index: 1;
}

#nextBtn {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    left: calc(100% - 50px);
    top: 55%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.2);
    font-size: 35px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

#nextBtn:hover {
    transition: color 1s ease-in;
    color: rgba(255, 255, 255, 0.9);
    font-size: 36px;
}

#prevBtn {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 35px;
    left: 50px;
    top: 55%;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.2);
    font-size: 35px;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

#prevBtn:hover {
    transition: color 1s ease-in;
    color: rgba(255, 255, 255, 0.9);
    font-size: 36px;
}

#github-link {
    z-index: 10;
}

.fa-github {
    position: fixed;
    top: 92%;
    left: 40px;
    text-decoration: none;
    z-index: 10;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.5)
}

.fa-github:hover {
    transition: color 1s ease-in;
    color: rgba(255, 255, 255, 0.9)
}

#CnameLabel {
    color: rgba(255, 255, 255, 1);
    font-family: "Oxygen Mono", monospace;
    position: absolute;
    top: 1250px;
    left: 450px;
    width: 600px;
    text-align: left;
    font-size: 25px;
    z-index: 14;
}

#Cname {
    color: #040c24;
    position: absolute;
    top: 1300px;
    left: 450px;
    width: 600px;
    text-align: left;
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    border-radius: 10px;
    z-index: 14;
}

#PortFeedbackLabel {
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1400px;
    left: 450px;
    width: 600px;
    text-align: left;
    font-size: 25px;
    z-index: 14;
}

#PortFeedback {
    color: #040c24;
    position: absolute;
    top: 1450px;
    left: 450px;
    height: 75px;
    width: 600px;
    text-align: left;
    font-size: 25px;
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
    z-index: 14;
}

#LearningLabel {
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1625px;
    left: 450px;
    width: 600px;
    text-align: left;
    font-size: 25px;
    z-index: 14;
}

#Learning {
    color: #040c24;
    position: absolute;
    top: 1675px;
    left: 450px;
    height: 75px;
    width: 600px;
    text-align: left;
    font-size: 25px;
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
    z-index: 14;
}

#BetterFitLabel {
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1850px;
    left: 450px;
    width: 600px;
    text-align: left;
    font-size: 25px;
    z-index: 14;
}

#BetterFit {
    color: #040c24;
    position: absolute;
    top: 1930px;
    left: 450px;
    height: 75px;
    width: 600px;
    text-align: left;
    font-size: 25px;
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
    z-index: 14;
}

#emailLabel {
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 2105px;
    left: 450px;
    width: 600px;
    text-align: left;
    font-size: 25px;
    z-index: 14;
}

#email {
    color: #040c24;
    position: absolute;
    top: 2155px;
    left: 450px;
    width: 600px;
    text-align: left;
    font-size: 25px;
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
    z-index: 14;
}

#submitBtn {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #040c24;
    top: 2300px;
    left: 50%;
    height: 50px;
    width: 150px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#submit {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 25px;
}

#submit:hover {
    transition: color 0.5s ease-in;
    color: rgba(255, 255, 255, 0.9);
    font-size: 25px;
}

#bottomMargin {
    background-color: #040c24;
    position: absolute;
    top: 2400px;
    height: 200px;
    width: 100%;
    z-index: 2;
}
